{
  "openapi": "3.0.3",
  "info": {
    "title": "Qubrid Voice API",
    "version": "1.0.0",
    "description": "Generate speech audio from text using text-to-speech (TTS) models."
  },
  "servers": [
    {
      "url": "https://platform.qubrid.com/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key"
      }
    },
    "schemas": {
      "VoiceGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "text",
          "voice"
        ],
        "properties": {
          "model": {
            "type": "string",
            "example": "qwen3-tts-flash",
            "description": "The TTS model to use."
          },
          "text": {
            "type": "string",
            "example": "Today is a wonderful day to build something people love!",
            "description": "Text input to convert into speech."
          },
          "voice": {
            "type": "string",
            "example": "Cherry",
            "description": "Voice preset to use for speech synthesis."
          },
          "language_type": {
            "type": "string",
            "example": "Auto",
            "description": "Language setting for speech generation."
          }
        }
      },
      "VoiceGenerationResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "integer",
            "example": 1710000000,
            "description": "Unix timestamp when audio was generated."
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "example": "https://cdn.qubrid.com/generated/audio.mp3",
                  "description": "URL of the generated audio file."
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "message",
              "type",
              "code",
              "request_id"
            ],
            "properties": {
              "message": {
                "type": "string",
                "example": "Missing required parameter: 'text'."
              },
              "type": {
                "type": "string",
                "example": "invalid_request_error",
                "description": "Machine-readable error category."
              },
              "code": {
                "type": "string",
                "example": "invalid_request",
                "description": "Specific machine-readable error code."
              },
              "param": {
                "type": "string",
                "nullable": true,
                "example": "text",
                "description": "The request field that caused the error, or null."
              },
              "request_id": {
                "type": "string",
                "example": "req-qubrid-abc123",
                "description": "Unique request identifier for debugging and support."
              }
            }
          }
        }
      },
      "ModelNotFoundErrorResponse": {
        "type": "object",
        "description": "Returned when the specified TTS model does not exist or is not available.",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "message",
              "type",
              "code",
              "request_id"
            ],
            "properties": {
              "message": {
                "type": "string",
                "example": "The model 'qwen3-tts-ultra' does not exist or is not available."
              },
              "type": {
                "type": "string",
                "example": "invalid_request_error"
              },
              "code": {
                "type": "string",
                "example": "model_not_found"
              },
              "param": {
                "type": "string",
                "nullable": true,
                "example": "model"
              },
              "request_id": {
                "type": "string",
                "example": "req-qubrid-abc123"
              }
            }
          }
        }
      },
      "InsufficientQuotaErrorResponse": {
        "type": "object",
        "description": "Returned when the account does not have enough credits to complete the request.",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "message",
              "type",
              "code",
              "request_id"
            ],
            "properties": {
              "message": {
                "type": "string",
                "example": "Insufficient credits to process this request. Please recharge your account."
              },
              "type": {
                "type": "string",
                "example": "insufficient_quota"
              },
              "code": {
                "type": "string",
                "example": "insufficient_quota"
              },
              "param": {
                "type": "string",
                "nullable": true,
                "example": null
              },
              "request_id": {
                "type": "string",
                "example": "req-qubrid-abc123"
              }
            }
          }
        }
      },
      "RateLimitErrorResponse": {
        "type": "object",
        "description": "Returned when request rate limits are exceeded.",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "message",
              "type",
              "code",
              "request_id"
            ],
            "properties": {
              "message": {
                "type": "string",
                "example": "Rate limit exceeded. Please try again later."
              },
              "type": {
                "type": "string",
                "example": "rate_limit_error"
              },
              "code": {
                "type": "string",
                "example": "rate_limit_exceeded"
              },
              "param": {
                "type": "string",
                "nullable": true,
                "example": null
              },
              "request_id": {
                "type": "string",
                "example": "req-qubrid-abc123"
              }
            }
          }
        }
      },
      "AuthenticationErrorResponse": {
        "type": "object",
        "description": "Returned when authentication fails.",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "message",
              "type",
              "code",
              "request_id"
            ],
            "properties": {
              "message": {
                "type": "string",
                "example": "Missing authentication credentials."
              },
              "type": {
                "type": "string",
                "example": "authentication_error"
              },
              "code": {
                "type": "string",
                "example": "missing_api_key"
              },
              "param": {
                "type": "string",
                "nullable": true,
                "example": null
              },
              "request_id": {
                "type": "string",
                "example": "req-qubrid-abc123"
              }
            }
          }
        }
      },
      "PermissionErrorResponse": {
        "type": "object",
        "description": "Returned when the authenticated account does not have permission to access the resource.",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "message",
              "type",
              "code",
              "request_id"
            ],
            "properties": {
              "message": {
                "type": "string",
                "example": "Permission denied: You do not have permission to access this model."
              },
              "type": {
                "type": "string",
                "example": "permission_error"
              },
              "code": {
                "type": "string",
                "example": "insufficient_quota"
              },
              "param": {
                "type": "string",
                "nullable": true,
                "example": null
              },
              "request_id": {
                "type": "string",
                "example": "req-qubrid-abc123"
              }
            }
          }
        }
      },
      "ServerErrorResponse": {
        "type": "object",
        "description": "Returned when an internal server error occurs.",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "message",
              "type",
              "code",
              "request_id"
            ],
            "properties": {
              "message": {
                "type": "string",
                "example": "An unexpected error occurred while processing the request."
              },
              "type": {
                "type": "string",
                "example": "server_error"
              },
              "code": {
                "type": "string",
                "example": "internal_error"
              },
              "param": {
                "type": "string",
                "nullable": true,
                "example": null
              },
              "request_id": {
                "type": "string",
                "example": "req-qubrid-abc123"
              }
            }
          }
        }
      },
      "BackendUnavailableErrorResponse": {
        "type": "object",
        "description": "Returned when the upstream TTS provider is temporarily unavailable or could not be reached.",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "message",
              "type",
              "code",
              "request_id"
            ],
            "properties": {
              "message": {
                "type": "string",
                "example": "The backend service is temporarily unavailable."
              },
              "type": {
                "type": "string",
                "example": "server_error"
              },
              "code": {
                "type": "string",
                "example": "backend_unavailable"
              },
              "param": {
                "type": "string",
                "nullable": true,
                "example": null
              },
              "request_id": {
                "type": "string",
                "example": "req-qubrid-abc123"
              }
            }
          }
        }
      },
      "GatewayTimeoutErrorResponse": {
        "type": "object",
        "description": "Returned when the upstream TTS provider took too long to respond.",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "message",
              "type",
              "code",
              "request_id"
            ],
            "properties": {
              "message": {
                "type": "string",
                "example": "The request timed out while waiting for the backend service."
              },
              "type": {
                "type": "string",
                "example": "server_error"
              },
              "code": {
                "type": "string",
                "example": "backend_error"
              },
              "param": {
                "type": "string",
                "nullable": true,
                "example": null
              },
              "request_id": {
                "type": "string",
                "example": "req-qubrid-abc123"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/audio/generations": {
      "post": {
        "summary": "Generate Speech (TTS)",
        "description": "Convert text into natural-sounding speech using text-to-speech models.",
        "operationId": "createVoice",
        "tags": [
          "Voice"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VoiceGenerationRequest"
              },
              "examples": {
                "Basic TTS": {
                  "summary": "Convert text to speech",
                  "value": {
                    "model": "qwen3-tts-flash",
                    "text": "Today is a wonderful day to build something people love!",
                    "voice": "Cherry",
                    "language_type": "Auto"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audio generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceGenerationResponse"
                },
                "example": {
                  "created": 1710000000,
                  "data": [
                    {
                      "url": "https://cdn.qubrid.com/generated/audio.mp3"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing required fields, invalid values, or malformed JSON",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits to process the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsufficientQuotaErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - authenticated but not allowed to access this model or resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Model not found - the specified TTS model does not exist or is not available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelNotFoundErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Bad gateway - upstream TTS provider is unavailable or returned an error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackendUnavailableErrorResponse"
                }
              }
            }
          },
          "504": {
            "description": "Gateway timeout - upstream TTS provider took too long to respond",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeoutErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}