{
  "openapi": "3.0.3",
  "info": {
    "title": "Qubrid Speech-to-Text API",
    "version": "1.0.0",
    "description": "Transcribe audio into text using speech-to-text (STT) models."
  },
  "servers": [
    {
      "url": "https://platform.qubrid.com/api/v1/qubridai"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key"
      }
    },
    "schemas": {
      "TranscriptionResponse": {
        "type": "object",
        "description": "Successful transcription response.",
        "properties": {
          "text": {
            "type": "string",
            "example": "Today is a wonderful day to build something people love!"
          }
        }
      },

      "ErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["message", "type", "code", "request_id"],
            "properties": {
              "message": {
                "type": "string",
                "example": "Missing required parameter: 'file'."
              },
              "type": {
                "type": "string",
                "example": "invalid_request_error"
              },
              "code": {
                "type": "string",
                "example": "invalid_request"
              },
              "param": {
                "type": "string",
                "nullable": true,
                "example": "file"
              },
              "request_id": {
                "type": "string",
                "example": "req-qubrid-abc123"
              }
            }
          }
        }
      },

      "ModelNotFoundErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["message", "type", "code", "request_id"],
            "properties": {
              "message": {
                "type": "string",
                "example": "The model 'whisper-ultra' does not exist or is not available."
              },
              "type": {
                "type": "string",
                "example": "invalid_request_error"
              },
              "code": {
                "type": "string",
                "example": "model_not_found"
              },
              "param": {
                "type": "string",
                "nullable": true,
                "example": "model"
              },
              "request_id": {
                "type": "string",
                "example": "req-qubrid-abc123"
              }
            }
          }
        }
      },

      "InsufficientQuotaErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["message", "type", "code", "request_id"],
            "properties": {
              "message": {
                "type": "string",
                "example": "Insufficient credits to process this request."
              },
              "type": {
                "type": "string",
                "example": "insufficient_quota"
              },
              "code": {
                "type": "string",
                "example": "insufficient_quota"
              },
              "param": {
                "type": "string",
                "nullable": true,
                "example": null
              },
              "request_id": {
                "type": "string",
                "example": "req-qubrid-abc123"
              }
            }
          }
        }
      },

      "RateLimitErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["message", "type", "code", "request_id"],
            "properties": {
              "message": {
                "type": "string",
                "example": "Rate limit exceeded. Please try again later."
              },
              "type": {
                "type": "string",
                "example": "rate_limit_error"
              },
              "code": {
                "type": "string",
                "example": "rate_limit_exceeded"
              },
              "param": {
                "type": "string",
                "nullable": true,
                "example": null
              },
              "request_id": {
                "type": "string",
                "example": "req-qubrid-abc123"
              }
            }
          }
        }
      },

      "AuthenticationErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["message", "type", "code", "request_id"],
            "properties": {
              "message": {
                "type": "string",
                "example": "Missing authentication credentials."
              },
              "type": {
                "type": "string",
                "example": "authentication_error"
              },
              "code": {
                "type": "string",
                "example": "missing_api_key"
              },
              "param": {
                "type": "string",
                "nullable": true,
                "example": null
              },
              "request_id": {
                "type": "string",
                "example": "req-qubrid-abc123"
              }
            }
          }
        }
      },

      "PermissionErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["message", "type", "code", "request_id"],
            "properties": {
              "message": {
                "type": "string",
                "example": "Permission denied: You do not have permission to access this model."
              },
              "type": {
                "type": "string",
                "example": "permission_error"
              },
              "code": {
                "type": "string",
                "example": "insufficient_quota"
              },
              "param": {
                "type": "string",
                "nullable": true,
                "example": null
              },
              "request_id": {
                "type": "string",
                "example": "req-qubrid-abc123"
              }
            }
          }
        }
      },

      "ServerErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["message", "type", "code", "request_id"],
            "properties": {
              "message": {
                "type": "string",
                "example": "An unexpected error occurred while processing the request."
              },
              "type": {
                "type": "string",
                "example": "server_error"
              },
              "code": {
                "type": "string",
                "example": "internal_error"
              },
              "param": {
                "type": "string",
                "nullable": true,
                "example": null
              },
              "request_id": {
                "type": "string",
                "example": "req-qubrid-abc123"
              }
            }
          }
        }
      },

      "BackendUnavailableErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["message", "type", "code", "request_id"],
            "properties": {
              "message": {
                "type": "string",
                "example": "The backend service is temporarily unavailable."
              },
              "type": {
                "type": "string",
                "example": "server_error"
              },
              "code": {
                "type": "string",
                "example": "backend_unavailable"
              },
              "param": {
                "type": "string",
                "nullable": true,
                "example": null
              },
              "request_id": {
                "type": "string",
                "example": "req-qubrid-abc123"
              }
            }
          }
        }
      },

      "GatewayTimeoutErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["message", "type", "code", "request_id"],
            "properties": {
              "message": {
                "type": "string",
                "example": "The request timed out while waiting for the backend service."
              },
              "type": {
                "type": "string",
                "example": "server_error"
              },
              "code": {
                "type": "string",
                "example": "backend_error"
              },
              "param": {
                "type": "string",
                "nullable": true,
                "example": null
              },
              "request_id": {
                "type": "string",
                "example": "req-qubrid-abc123"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/audio/transcribe": {
      "post": {
        "summary": "Transcribe Audio",
        "description": "Convert speech audio into text using STT models.",
        "operationId": "createTranscription",
        "tags": ["Speech-to-Text"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["file", "model"],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Audio file to transcribe (wav, mp3, etc.)"
                  },
                  "model": {
                    "type": "string",
                    "example": "openai/whisper-large-v3",
                    "description": "STT model to use."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transcription successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscriptionResponse"
                },
                "example": {
                  "text": "Today is a wonderful day to build something people love!"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing file, model, or invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsufficientQuotaErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Model not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelNotFoundErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Bad gateway - upstream provider unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackendUnavailableErrorResponse"
                }
              }
            }
          },
          "504": {
            "description": "Gateway timeout - upstream provider timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeoutErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}